{
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "filepath": "",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "overrides": [],
  "parser": "typescript",
  "plugins": [],
  "pluginSearchDirs": [],
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": true,
  "svelteAllowShorthand": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": true,
  "svelteSortOrder": "scripts-markup-styles-options"
}
